version: "3"
name: "kafka_brokers"
services:
    zookeeper:
        image: wurstmeister/zookeeper
        container_name: zookeeper
        ports:
            - "2181:2181"

    kafka_1:
        image: wurstmeister/kafka
        container_name: kafka_1
        stdin_open: true
        tty: true
        ports:
            - "9092:9092"
        environment:
            - KAFKA_BROKER_ID=1
            - KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181
            - KAFKA_LISTENERS=INTERNAL://0.0.0.0:29092,EXTERNAL://0.0.0.0:9092
            - KAFKA_ADVERTISED_LISTENERS=INTERNAL://kafka_1:29092,EXTERNAL://localhost:9092
            - KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT
            - KAFKA_INTER_BROKER_LISTENER_NAME=INTERNAL
            - KAFKA_AUTO_CREATE_TOPICS_ENABLE=false
            - KAFKA_DELETE_TOPIC_ENABLE=true
            - KAFKA_CREATE_TOPICS=taxi_raw:6:2
        depends_on:
            - zookeeper

    kafka_2:
        image: wurstmeister/kafka
        container_name: kafka_2
        stdin_open: true
        tty: true
        ports:
            - "9093:9092"
        environment:
            - KAFKA_BROKER_ID=2
            - KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181
            - KAFKA_LISTENERS=INTERNAL://0.0.0.0:29092,EXTERNAL://0.0.0.0:9092
            - KAFKA_ADVERTISED_LISTENERS=INTERNAL://kafka_2:29092,EXTERNAL://localhost:9093
            - KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT
            - KAFKA_INTER_BROKER_LISTENER_NAME=INTERNAL
            - KAFKA_AUTO_CREATE_TOPICS_ENABLE=false
            - KAFKA_DELETE_TOPIC_ENABLE=true
        depends_on:
            - zookeeper

    # cassandra1:
    #     image: cassandra:3.0
    #     container_name: cassandra1
    #     ports:
    #         - "9042:9042"
    #     environment:
    #         - CASSANDRA_CLUSTER_NAME=ProjetCluster
    #         - CASSANDRA_DC=datacenter1
    #         - CASSANDRA_RACK=rack1
    #         - CASSANDRA_ENDPOINT_SNITCH=GossipingPropertyFileSnitch
    #         - CASSANDRA_SEEDS=cassandra1
    #     volumes:
    #         - cassandra1_data:/var/lib/cassandra

    # cassandra2:
    #     image: cassandra:3.0
    #     container_name: cassandra2
    #     environment:
    #         - CASSANDRA_CLUSTER_NAME=ProjetCluster
    #         - CASSANDRA_DC=datacenter1
    #         - CASSANDRA_RACK=rack1
    #         - CASSANDRA_SEEDS=cassandra1
    #         - CASSANDRA_ENDPOINT_SNITCH=GossipingPropertyFileSnitch
    #     volumes:
    #         - cassandra2_data:/var/lib/cassandra
    #     depends_on:
    #         - cassandra1

    producer:
        build: ../Producer
        container_name: producer
        stdin_open: true
        tty: true
        command: ["tail", "-f", "/dev/null"]
        depends_on:
            - zookeeper
            - kafka_1
            - kafka_2

    mongo_consumer:
        build: ../mongo_consumer
        container_name: mongo_consumer
        stdin_open: true
        tty: true
        command: ["tail", "-f", "/dev/null"]
        depends_on:
            - zookeeper
            - kafka_1
            - kafka_2
            - producer

    cassandra_consumer:
        build: ../cassandra_consumer
        container_name: cassandra_consumer
        stdin_open: true
        tty: true
        command: ["tail", "-f", "/dev/null"]
        depends_on:
            - kafka_1
            - kafka_2
            # - cassandra1
            # - cassandra2
# volumes:
#     cassandra1_data:
#     cassandra2_data:
#     cassandra3_data:
