version: "3"
name: "cassandra-compose"
services:
    cassandra1:
        image: cassandra:latest
        container_name: cassandra1
        networks:
            - cassandra-net
        ports:
            - "9042:9042"
        environment:
            - CASSANDRA_CLUSTER_NAME=ProjetCluster
            - CASSANDRA_DC=datacenter1
            - CASSANDRA_RACK=rack1
            - CASSANDRA_ENDPOINT_SNITCH=GossipingPropertyFileSnitch
            - CASSANDRA_SEEDS=cassandra1
            - CASSANDRA_BROADCAST_ADDRESS=cassandra1
        volumes:
            - cassandra1_data:/var/lib/cassandra

    cassandra2:
        image: cassandra:latest
        container_name: cassandra2
        networks:
            - cassandra-net
        environment:
            - CASSANDRA_CLUSTER_NAME=ProjetCluster
            - CASSANDRA_DC=datacenter1
            - CASSANDRA_RACK=rack1
            - CASSANDRA_SEEDS=cassandra1
            - CASSANDRA_BROADCAST_ADDRESS=cassandra2
            - CASSANDRA_ENDPOINT_SNITCH=GossipingPropertyFileSnitch
        volumes:
            - cassandra2_data:/var/lib/cassandra
        depends_on:
            - cassandra1

    cassandra3:
        image: cassandra:latest
        container_name: cassandra3
        networks:
            - cassandra-net
        environment:
            - CASSANDRA_CLUSTER_NAME=ProjetCluster
            - CASSANDRA_DC=datacenter1
            - CASSANDRA_RACK=rack1
            - CASSANDRA_SEEDS=cassandra1
            - CASSANDRA_BROADCAST_ADDRESS=cassandra3
            - CASSANDRA_ENDPOINT_SNITCH=GossipingPropertyFileSnitch
        volumes:
            - cassandra3_data:/var/lib/cassandra
        depends_on:
            - cassandra2
volumes:
    cassandra1_data:
    cassandra2_data:
    cassandra3_data:

networks:
    cassandra-net:
        driver: bridge
