version: "3.8"
name: "mongo_compose"
services:
    # CONFIG SERVER
    configsvr:
        image: mongo
        container_name: configsvr
        command: mongod --configsvr --replSet ConfigRS --port 27020 --bind_ip_all
        ports:
            - 27020:27020
    # SHARD1 (2 ReplicaSet)
    shard1a:
        image: mongo
        container_name: shard1a
        command: mongod --shardsvr --replSet sh1 --port 27031 --bind_ip_all
        ports:
            - 27031:27031

    shard1b:
        image: mongo
        container_name: shard1b
        command: mongod --shardsvr --replSet sh1 --port 27032 --bind_ip_all
        ports:
            - 27032:27032
    # SHARD2 (2 ReplicaSet)
    shard2a:
        image: mongo
        container_name: shard2a
        command: mongod --shardsvr --replSet sh2 --port 27033 --bind_ip_all
        ports:
            - 27033:27033

    shard2b:
        image: mongo
        container_name: shard2b
        command: mongod --shardsvr --replSet sh2 --port 27034 --bind_ip_all
        ports:
            - 27034:27034
    # SHARD3 (2 ReplicaSet)
    shard3a:
        image: mongo
        container_name: shard3a
        command: mongod --shardsvr --replSet sh3 --port 27035 --bind_ip_all
        ports:
            - 27035:27035

    shard3b:
        image: mongo
        container_name: shard3b
        command: mongod --shardsvr --replSet sh3 --port 27036 --bind_ip_all
        ports:
            - 27036:27036

    shard4a:
        image: mongo
        container_name: shard4a
        command: mongod --shardsvr --replSet sh4 --port 27037 --bind_ip_all
        ports:
            - 27037:27037

    shard4b:
        image: mongo
        container_name: shard4b
        command: mongod --shardsvr --replSet sh4 --port 27038 --bind_ip_all
        ports:
            - 27038:27038
    shard5a:
        image: mongo
        container_name: shard5a
        command: mongod --shardsvr --replSet sh5 --port 27039 --bind_ip_all
        ports:
            - 27039:27039

    shard5b:
        image: mongo
        container_name: shard5b
        command: mongod --shardsvr --replSet sh5 --port 27040 --bind_ip_all
        ports:
            - 27040:27040
    shard6a:
        image: mongo
        container_name: shard6a
        command: mongod --shardsvr --replSet sh6 --port 27041 --bind_ip_all
        ports:
            - 27041:27041

    shard6b:
        image: mongo
        container_name: shard6b
        command: mongod --shardsvr --replSet sh6 --port 27042 --bind_ip_all
        ports:
            - 27042:27042
    # MONGOS ROUTER
    mongos:
        image: mongo
        container_name: mongos
        depends_on:
            - configsvr
            - shard1a
            - shard1b
            - shard2a
            - shard2b
            - shard3a
            - shard3b
            - shard4a
            - shard4b
            - shard5a
            - shard5b
            - shard6a
            - shard6b
        command: mongos --configdb ConfigRS/configsvr:27020 --port 27019 --bind_ip_all
        ports:
            - 27019:27019
